<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/user']" routerLinkActive="active">User</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/products']" routerLinkActive="active">Produits</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/panier']" routerLinkActive="active">Panier</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/home-products']" routerLinkActive="active">Maison</a>
  </li>

</ul>
