<form [formGroup]="form" class="container" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="typeProduct">Type</label>
    <select class="form-control" id="typeProduct" formControlName="typeProduct">
      <option *ngFor="let typeProduct of types | keyvalue" [value]="typeProduct.value">{{ typeProduct.value }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="designation">Désignation</label>
    <input type="text" class="form-control" id="designation" formControlName="designation">
    <div class="alert alert-danger" *ngIf="form.get('designation').invalid && form.get('designation').touched">Champ
      invalide</div>
  </div>

  <div class="form-group">
    <label for="prix">Prix</label>
    <input type="number" min="0.00" max="10000.00" step="10" class="form-control" id="prix" formControlName="prix">
  </div>

  <div class="form-group">
    <label for="magasin">Magasin</label>
    <select class="form-control" id="magasin" formControlName="magasin">
      <option *ngFor="let magasin of magasins | keyvalue" [value]="magasin.value">{{ magasin.value }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="comment">Commentaire</label>
    <input type="text" class="form-control" id="comment" formControlName="comment">
  </div>

  <div class="form-group">
    <label>Facture</label>
    <input type="file" class="form-control-file" aria-describedby="fileHelp" (change)="onFileChange($event)">
  </div>

  <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Valider</button>
</form>
