@import 'theme';

form .ng-touched.ng-invalid {
  border: 1px solid $palette-color-one;
}

form .ng-touched.ng-valid {
  border: 1px solid $palette-color-three;
}

form .form-control-file {
  background-color: $palette-color-three;
  color: white;
  width: 350px;
  padding: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  cursor: pointer;
  font-family: sans-serif;
}
