<app-nav-bar [listRoutes]="navBar" [title]="title" [items]="items" (select)="selectProduct($event)"></app-nav-bar>
<app-tableau [headers]="headers">
  <app-item-product *ngFor="let item of collection$ | async" [item]="item" (itemAndState)="update($event)" (clicked)="removeClassActive()"></app-item-product>
</app-tableau>
