<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <label class="navbar-brand" href="#">{{ title }}</label>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" *ngFor="let item of listRoutes">
        <a class="nav-link" [routerLink]="" (click)="selectProduct(item.route)" >{{ item.label }}</a>
      </li>
    </ul>
    <th><app-bouton [labelButton]="labelButton"></app-bouton></th>
  </div>
</nav>

<!-- <p-breadcrumb #menu [model]="items" [home]="home">
  <ng-template pTemplate="item" let-item let-i="index">
    <a class="ui-menuitem-link" (click)="itemClick(item.label)" [title]="item.label"></a>
  </ng-template>
</p-breadcrumb> -->
<!--
<p-menubar [model]="items" #menu>
  <ng-template pTemplate="item" let-item let-i="index">
    <div>
      <a label="item.label " [routerLink]="" (click)="selectProduct(menu.toggle.item.label)"></a>
    </div>
  </ng-template>
</p-menubar> -->
