<tr (click)="getDetail()" [ngClass]="{'state-enstock': colorTd}">
  <td>{{ item.designation }}</td>
  <td>{{ item.prix | currency:'EUR' }} </td>
  <td>{{ item.magasin }}</td>
  <td >
    <button class="facture" (click)="openFacture()"><i class="fas fa-file-invoice"></i></button>
  </td>
  <td >
    <button class="edit" (click)="redirectEditItem()"><i class="fas fa-edit"></i></button>
  </td>
  <td>
    <button class="delete" (click)="delete()"><i class="fas fa-trash-alt"></i></button>
  </td>
</tr>
