@import 'theme', 'layout';

td > button.edit {
  display: inline-block;
  background: $light-color;
  padding: .2rem 1rem;
  border-radius: 1rem;
  border-color: $deep-sky-blue;
  color: $aqua;
  margin-left: $gutters;
  margin-top: -1rem;
  z-index: 25px;

  i {
    color: $medium-blue;
  }
 }

 td > button.delete {
  display: inline-block;
  background: $light-color;
  padding: .2rem 1rem;
  border-radius: 1rem;
  border-color: lightcoral;
  color: $light-color;
  margin-left: $gutters;
  margin-top: -1rem;
  z-index: 25px;

  i {
    color: red;
  }
 }

 td > button.facture {
  display: inline-block;
  background: $light-color;
  padding: .2rem 1rem;
  border-radius: 1rem;
  border-color: lightseagreen;
  color: $light-color;
  margin-left: $gutters;
  margin-top: -1rem;
  z-index: 25px;

  i {
    color: lightseagreen;
  }
 }
