// uniquement des variables de couleur
$light-color: #ffffff;
$dark-color: #333333;
$palette-color-one: #f35722;
$palette-color-two: #FFA500;
$palette-color-three: #34bfa3;

$aqua: #00FFFF;
$medium-blue: #0000CD;
$deep-sky-blue: #00BFFF;
