<div class="table-responsive">
  <table class="table" id="tab">
    <thead>
      <tr>
        <th scope="col" *ngFor="let item of headers; let i = index">
          <a (click)="sortTable(i)" style="cursor:pointer">{{ item }}</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-content></ng-content>
    </tbody>
  </table>
</div>
