@import 'theme';

#tab .state-enstock {
  background: $palette-color-three;
}

#tab .state-epuise {
  background: $palette-color-one;
}

#tab tbody > * {
  display: contents;
}

app-template-b #tab thead {
  background:lighten($dark-color, 40);
  color: $light-color;
}
