@import 'theme', 'layout';

td > button.delete {
  display: inline-block;
  background: $light-color;
  padding: .2rem 1rem;
  border-radius: 1rem;
  border-color: lightcoral;
  color: $light-color;
  margin-left: $gutters;
  margin-top: -1rem;
  z-index: 25px;

  i {
    color: red;
  }
 }
