<tr (click)="getDetail()" [ngClass]="{'state-enstock': colorTd}">
  <td>{{ item.designation }}</td>
  <td>{{ item.prix | currency:'EUR' }} </td>
  <td [appState]="item.quantite">
    <select [(ngModel)]="item.quantite" (change)="update()" (click)="$event.stopPropagation()">
      <option *ngFor="let quantite of quantites | keyvalue" [value]="quantite.value">{{ quantite.value }}</option>
    </select>
  </td>
  <td>{{ item.magasin }}</td>
  <td>
    <button class="delete" (click)="delete()"><i class="fas fa-trash-alt"></i></button>
  </td>
</tr>
