<div class="card" *ngIf="product$ | async as product">
  <div class="card-header">
    {{ product.designation }}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Prix : {{ product.prix  | currency:'EUR' }}</li>
    <li class="list-group-item">Quantité : {{ product.quantite }}</li>
    <li class="list-group-item">{{ product.comment }}</li>
  </ul>
</div>
