<form [formGroup]="form" class="container" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="comment">Ajouter un commentaire</label>
    <textarea formControlName="comment" class="form-control" id="comment"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>
