@import 'theme', 'layout';

a {
 display: inline-block;
 padding: .3rem 1rem;
 border-radius: 4rem;
 color: $light-color;
 margin: .5rem .5rem .5rem $gutters;
}

// représente le composant lui-même
// :host() { }

:host-context(app-template-a) a {
  background: $palette-color-one;
}

:host-context(app-template-b) a {
  background: $dark-color;
}
